/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* page background */
body {
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: white;
  overflow: hidden; /* CRITICAL — prevents layout break */
}

/* XYFlow Controls – force dark theme */
.react-flow__controls {
  background: #0f172a !important;
  border: 1px solid #334155 !important;
  border-radius: 8px;
}

.react-flow__controls-button {
  background: #1e293b !important;
  color: #e5e7eb !important;
  border: 1px solid #334155 !important;
}

.react-flow__controls-button:hover {
  background: #334155 !important;
}

.react-flow__controls-button svg {
  color: #e5e7eb !important; /* THIS is the key */
}


.info-icon {
  display: inline-block;   /* important */
  margin-left: 8px;
  position: relative;

  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid #64748b;
  color: #cbd5f5;
  text-align: center;
  line-height: 14px;
  cursor: default;
}


.tooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #020617;
  color: #e5e7eb;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  border: 1px solid #334155;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 20;
  white-space: nowrap;
}

.info-icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}


